LLM/Initializer.yml
app:
  description: 生成初始输入
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: initializer
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1729142948139-source-1729142960706-target
      source: '1729142948139'
      sourceHandle: source
      target: '1729142960706'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1729142960706-source-1729147679536-target
      source: '1729142960706'
      sourceHandle: source
      target: '1729147679536'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1729152207031-source-1729152629578-target
      source: '1729152207031'
      sourceHandle: source
      target: '1729152629578'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1729152629578-source-1729154473458-target
      source: '1729152629578'
      sourceHandle: source
      target: '1729154473458'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1729147679536-source-1729151604239-target
      source: '1729147679536'
      sourceHandle: source
      target: '1729151604239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1729151604239-source-1729152207031-target
      source: '1729151604239'
      sourceHandle: source
      target: '1729152207031'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1729154774975-true-1729143899574-target
      source: '1729154774975'
      sourceHandle: 'true'
      target: '1729143899574'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1729154774975-false-1729154828142-target
      selected: false
      source: '1729154774975'
      sourceHandle: 'false'
      target: '1729154828142'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1729154473458-source-1729155102264-target
      source: '1729154473458'
      sourceHandle: source
      target: '1729155102264'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1729155102264-source-1729154774975-target
      source: '1729155102264'
      sourceHandle: source
      target: '1729154774975'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: code
          max_length: 40000
          options: []
          required: true
          type: paragraph
          variable: code
        - label: line
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: line
        - label: entry
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: entry
        - label: result
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: result
      height: 168
      id: '1729142948139'
      position:
        x: 632.5
        y: 82
      positionAbsolute:
        x: 632.5
        y: 82
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: d4665532-e6f8-4441-9fd7-28e5be20c360
          role: system
          text: You are an expert in JavaScript code, skilled at targeting the specific
            code that users wish to run. You can extract the precise function path
            from the entry function to the targeted code, and provide a streamlined
            snippet of the refined code.
        - id: 1a05d0da-ec39-49f1-b28c-a612221e1543
          role: user
          text: 'Here is the complete source code:

            {{#1729142948139.code#}}

            The specified target line is:

            {{#1729142948139.line#}}

            The entry function is:

            {{#1729142948139.entry#}}'
        selected: true
        title: Data Flow Extraction Agent
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      height: 98
      id: '1729142960706'
      position:
        x: 427.8439002597428
        y: 282
      positionAbsolute:
        x: 427.8439002597428
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729152629578'
          - arg_output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1729143899574'
      position:
        x: 571.5466460555464
        y: 1180.8361610484876
      positionAbsolute:
        x: 571.5466460555464
        y: 1180.8361610484876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: Extract only the code blocks content. Ignore all natural language
          descriptions outside of code blocks.
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        parameters:
        - description: The code snippet that remains after refinement by a large model,
            preserving only the critical control flow.
          name: refineCode
          required: true
          type: string
        query:
        - '1729142960706'
        - text
        reasoning_mode: function_call
        selected: false
        title: 剪枝代码提取
        type: parameter-extractor
        variables: []
      height: 98
      id: '1729147679536'
      position:
        x: 427.8439002597428
        y: 401.7416087543214
      positionAbsolute:
        x: 427.8439002597428
        y: 401.7416087543214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 53531b4e-72ae-4c2f-a32a-afdf6f254499
          role: system
          text: You are an expert in JavaScript code, skilled at tracking how conditional
            branches in the code constrain variables. You can analyze the impact of
            input parameters from the entry function to every line of target code
            and describe in natural language what conditions each input parameter
            needs to satisfy for the target code to be executed.
        - id: 0538ca64-90a6-4432-9182-8114e266e964
          role: user
          text: 'Here is the source code:

            {{#1729147679536.refineCode#}}

            The specified target line is:

            {{#1729142948139.line#}}

            The entry function is:

            {{#1729142948139.entry#}}'
        selected: false
        title: Condition Analysis Agent
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      height: 98
      id: '1729151604239'
      position:
        x: 415.96832906278667
        y: 717.3320677366504
      positionAbsolute:
        x: 415.96832906278667
        y: 717.3320677366504
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 991a24d8-5451-4110-b700-2fbfeddf31e7
          role: system
          text: You are an expert in JavaScript code, skilled at writing test cases.
            You can write a test case that runs to the target code based on the given
            entry point and analysis of input parameters described in natural language.
        - id: 743af254-2b81-43d3-880a-68cea52bd402
          role: user
          text: 'Here is the source code:

            {{#1729142948139.code#}}

            The specified target line is:

            {{#1729142948139.line#}}

            The entry function is:

            {{#1729142948139.entry#}}

            The analysis is as follows:

            {{#1729151604239.text#}}'
        selected: false
        title: Input Generation Agent
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1729152207031'
      position:
        x: 828.5141200092316
        y: 282
      positionAbsolute:
        x: 828.5141200092316
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: "Example for `function resolve(name, spec, where, arg)`:\n{\n\
          \ \"name\":null,\n \"spec\":\"git+ssh://user@hostname:repository.git\",\n\
          \ \"where\":null,\n \"arg\":null\n}"
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        parameters:
        - description: Input value for parameters of the entry function extracted
            in JSON format.
          name: arg_output
          required: true
          type: string
        query:
        - '1729152207031'
        - text
        reasoning_mode: function_call
        selected: false
        title: 初始参数提取
        type: parameter-extractor
        variables: []
      height: 98
      id: '1729152629578'
      position:
        x: 828.5141200092316
        y: 401.7416087543214
      positionAbsolute:
        x: 828.5141200092316
        y: 401.7416087543214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 3c74bb1d-09ab-4202-aa8c-07d623a79ea4
          role: system
          text: You are an expert in JavaScript code, evaluating the program's execution
            logic. You can determine whether the program can run to the target line
            of code based on the given program entry point and input parameters.
        - id: d135a582-e334-419a-9a3f-5c7aca8de33c
          role: user
          text: 'Here is the source code:

            {{#1729147679536.refineCode#}}

            The specified target line is:

            {{#1729142948139.line#}}

            The entry function is:

            {{#1729142948139.entry#}}

            The input parameters are as follow:

            {{#1729152629578.arg_output#}}'
        selected: false
        title: Verify Agent
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1729154473458'
      position:
        x: 828.5141200092316
        y: 637.5018391348902
      positionAbsolute:
        x: 828.5141200092316
        y: 637.5018391348902
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c34bb654-66db-4715-a807-d4513906f349
            value: 'true'
            varType: string
            variable_selector:
            - '1729155102264'
            - verify_result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 126
      id: '1729154774975'
      position:
        x: 828.5141200092316
        y: 940.7582048541074
      positionAbsolute:
        x: 828.5141200092316
        y: 940.7582048541074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs: []
        selected: false
        title: reAnalyze
        type: end
      height: 54
      id: '1729154828142'
      position:
        x: 415.96832906278667
        y: 812.3366373122988
      positionAbsolute:
        x: 415.96832906278667
        y: 812.3366373122988
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        parameters:
        - description: The result of determining whether it can execute to the target
            line, true or false.
          name: verify_result
          required: true
          type: string
        query:
        - '1729154473458'
        - text
        reasoning_mode: prompt
        selected: false
        title: 验证结果提取
        type: parameter-extractor
        variables: []
      height: 98
      id: '1729155102264'
      position:
        x: 828.5141200092316
        y: 792.7248154144871
      positionAbsolute:
        x: 828.5141200092316
        y: 792.7248154144871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 73.08262807776418
      y: 4.0421892135831285
      zoom: 0.5743491774985173
